@import 'tailwindcss';

@theme {
  /* BREAKPOINTS */
  --breakpoint-lg: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
}
